doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sphinx'Coding Story
        link(rel="stylesheet" href="/css/home.css")
        block style
        

    body                  
       - const title = "Sphinx'Coding Story"; 
        header
            div#title_box
                a.title_img(href="/") 
                h1.title_text #{title} 
            div#title_content               
                h1.title2_text &#128211 express, mongoose로 정리한 백엔드의 모든 것
            div#title_register
                a.google(href="/auth/google") 구글로그인
                a.login(href="/register/login") 로그인
                a.logout(href="/register/logout") 로그아웃 
        main 

            block indexContent 
            
        footer 
            - const date = new Date().toLocaleString();
                     
            p.foot_text #{title}에 #{displayName} 로그인 하셨습니다. 
                 span.title_backImg 
                 span.foot_subtext 접속한 시점은 #{date} 

    
        